@import helpers\mixins
@import helpers\variables
@import pages\header
@import pages\footer
@import pages\maincontent

//tostart use sass --watch input output
// sass --watch sass:stylesheets   folder / folder

body
    +marpad(0,0)

.wrapper
    background-image: url($imageurl)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    height: 100vh
    width: 100vw